.tabs {
  width: 100%;
  max-width: 1445px;  
  background-image: url("../img/icons/map.png");
  background-position: right 0 top 125px;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.tabs__wrapper {
  max-width: 1220px;
  padding: 0 25px;
  margin: 0 auto;    
}

.tab-header {
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  width: 899px;
  border-bottom: 1px solid $grey;
}

.tab-header__item {
  padding: 0 0 17px 0;
  margin-right: 99px;
  cursor: pointer;
  color: $grey;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.41px;
}

.tab-header__item.active {
  color: $accentMain;
  position: relative;
  transform: all 0.2s ease;
}

.tab-content__item {
  display: none;
}

.tab-content__item.active {
  display: block;
}

.tab-content__item-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.item-header {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 30%;
  margin-top: 100px;
  margin-right: 70px;

  h2 {
    font-size: 55px;
    font-weight: 600;
    letter-spacing: -1.25px;
    padding-bottom: 57px;
    color: $dark;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.47px;
    line-height: 28px;
    color: $semiDark;
    position: relative;
    padding-bottom: 50px;

    &:before {
      content: "";
      display: block;
      position: absolute;
      width:175px;
      height: 3px;
      background-color: $accentMain;
      left: 0;
      top: -30px;
    }
  }

  button {
    padding: 30px 0;
    width: 250px;
    color: $white;
    background-color: $accentMain;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: $accentHover;
    }

    &:active {
      opacity: 0.8;
    }
  }
}

.item-comment-wrapper {
  display: flex;  
  min-height: 596px;
  width: 700px;
  position: relative;
  margin-top: 80px;
}

.item-comment-img {
  background-color: #84A9CE;
  height: max-content;

  img {
    width: 438px;
    height: 610px;
    object-fit: cover;
  }
}

.item-comment {
  background-color: $white;
  width: 382px;
  height: max-content;
  margin-top: 114px;
  padding: 30px;
  z-index: 20;
  position: absolute;
  right: 0;

  h3 {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -0.69px;
    padding-bottom: 35px;
    color: $dark;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.41px;
    line-height: 28px;
    color: $semiDark;
    position: relative;
    padding-bottom: 35px;        
    background-color: $white;

    &:before {
      content: "";
      position: absolute;
      width: 68px;
      height: 0.73px;
      background-color: $accentMain;
      left: 0;
      top: -20px;
    }        
  }

  p + p {
    padding-bottom: 0;
  }  
}

.item-avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $dark;
  position: relative;

  p {
    padding-bottom: 0;
    padding-left: 16px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.47px;

    &::before {
      display: none;
    }
  }
}

@media screen and (max-width: 1023px) {
  .tabs {
    background-image: none;
    margin-top: 98px;
  }

  .tabs__wrapper {
    padding: 0;
    overflow: hidden;
  }

  .tab-header {
    margin: 0 35px;
  }

  .tab-content__item-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .item-header {
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 35px;
    padding: 0 20px;

    h2 {
      font-size: 30px;
      letter-spacing: 0;
      line-height: 150%;
      padding-bottom: 25px;
    }

    p {
      text-align: center;
      padding-bottom: 25px;

      &:before {
        display: none;
      }
    }

    button {
      width: 250px;
      padding: 19px 0;
      font-size: 10px;

      &:hover {
        background-color: $accentMain;
      }

      &:active {
        background-color: $accentHover;
      }
    }
  }

  .item-comment-wrapper {
    width: 100%;
    min-height: 415px;
  }

  .item-comment-img {
    width: 100%;
    height: 415px;
    
    img {
      width: 100%;
      height: 415px;
      object-fit: cover;
    }
  }

  .item-comment {
    display: flex;
    flex-direction: column;
    margin: 80px auto 0;
    left: 0;
    right: 0;
    top: 0;
    width: 382px;
    max-height: 100%;    
  }
}

@media screen and (max-width: 767px) {
  .tabs {
    margin-top: 88px;
  }

  .tab-header {
    margin: 0 15px;
  }

  .item-header {
    margin-top: 25px;
    padding: 0 15px;

    h2 {
      font-size: 24px;
      padding-bottom: 20px;
    }

    p {
      padding-bottom: 20px;
    }

    button {
      width: 288px;
    }
  }

  .item-comment-wrapper {
    min-height: 520px;
  }

  .item-comment {
    text-align: center;
    width: 268px;
    max-height: 100%;
    padding: 30px 20px;
    margin-top: 50px;

    p:before {
      left: 80px;
    }
  }

  .item-avatar {
    flex-direction: column;

    p {
      padding-top: 10px;
      padding-left: 0;
    }
  }
}